*{
    margin: 0 auto;
    padding: 0;
}

.heading{
    text-align: center;
    margin: 20px;
    font-size: 30px;
    font-weight: bold;
}
form{
    width: 60%;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid grey;
    border-radius: 10px;
}

.personal-container, .academic-container{
    padding: 10px;
    margin-bottom: 10px;
    width: 60%;
}

legend{
    font-weight: bold;
    font-size: 20px;
    margin: 0px 10px;
}

label{
    display: block;
    margin: 20px;
}